.card{
    width: 19vh;
    height: 19vh;
    margin: 2vh;
    background-image: url("./photo.jpg");
    justify-content: center;
}

.cardImage{
    margin: 2vh;
    width: 20vh;
    height: 20vh;
}

.frame{
    width: 20vh;
    height: 20vh;
}

@media(max-width: 1440px) and (min-width: 1000px){
    .card{
        width: 15vh;
        height: 15vh;
    }
}

@media(max-width: 500px) and (min-width: 300px){
    .card{
        width: 10vh;
        height: 10vh;
    }
}