.main{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
}
.men{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myGifDiv{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
}
.myGif{
    /*margin-left: 20vh;*/
    /*margin-top: 18vh;*/
    width: 70vh;
    height: 70vh;
}
/*.up{*/
    /*background-color: #cacaca;*/
/*}*/
.menu{
    width: 50vh;
    /*margin-top: 40vh;*/
    /*margin-left:10vh;*/
    text-align: center;
}
.list{
    font-weight: bold;
    font: 300 100px/1.3 'Arizonia', Helvetica, sans-serif;
    color: #fff2d5;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.list:hover{
    color: #ffc71f;
    text-decoration: none;
}
.button{
    background-color: green;
}

.registerDiv{
    width: 50vh;
    border-radius: 5px;
    border-width: 2px;
    height: 70vh;
    border-color: red;

}

.inputStyle{
    width: 50vh;
    height: 70vh;
    text-align: center;
    font-size:20px;
    color: yellow;
    margin-top: 15vh;
    margin-left: 25vh;
}

.paper{
    position: relative;
    top: 25vh;
    z-index:-1;
    height: 600px;
    left: 5vh;
}

@media (max-width: 900px){
    .men{
        width: 100%;
    }
    .myGifDiv{
        display: none;
    }
}